.container {
	width: 90vw;
	max-width: 512px;
	margin: 0 auto;
}

.border-radius-1 {
	border-radius: 0.2em;
}
.margin-t64 {
	margin-top: 64px;
}
.margin-t32 {
	margin-top: 32px;
}
.margin-t16 {
	margin-top: 16px;
}
.padding-a16 {
	box-sizing: border-box;
	padding: 16px;
}
