@import '../styles/colors.scss';

.background {
	position: absolute;
	z-index: -10;
	top: 0;
	transition: ease-out 0.8s;

	&__image {
		width: 200vw;
		position: relative;
		display: flex;
		justify-content: space-between;
		img {
			width: 100vw;
		}
		left: 0;
		background-color: $lt-very-light-grayish-blue;
		transition: ease-out 0.8s;
	}
	&.--dark &__image {
		left: -100vw;
	}
}
